.element-light {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.element-light .horizontal-divider {
  height: 1px;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-color: #000000;
}

.element-light .horizontal-border {
  height: 122px;
  border-top-width: 2px;
  border-top-style: solid;
  overflow-y: scroll;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-color: #000000;
}

.element-light .horizontal-border::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .background {
  display: flex;
  flex-direction: column;
  height: 620.16px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow-y: scroll;
  background-image: url(./img/background-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .background::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .container {
  position: relative;
  flex: 1;
  max-width: 1920px;
  width: 1920px;
  flex-grow: 1;
}

.element-light .LIGHT-UP-YOUR-SUMMER {
  position: absolute;
  width: 499px;
  height: 132px;
  top: 209px;
  left: 196px;
  background-image: url(./img/LIGHT-UP-YOUR-SUMMER.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .overlap-group {
  position: absolute;
  width: 800px;
  height: 473px;
  top: 91px;
  left: 776px;
}

.element-light .view {
  position: absolute;
  width: 336px;
  height: 422px;
  top: 0;
  left: 0;
  background-image: url(./img/image-16.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .div {
  position: absolute;
  width: 374px;
  height: 390px;
  top: 33px;
  left: 425px;
  background-image: url(./img/image-17.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .view-2 {
  position: absolute;
  width: 374px;
  height: 439px;
  top: 35px;
  left: 207px;
  background-image: url(./img/image-13.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .link {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 38px;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: 374px;
  left: 385px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #f29440;
}

.element-light .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #f29440;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 34px;
  white-space: nowrap;
}

.element-light .section {
  height: 62px;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow-y: scroll;
}

.element-light .section::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .overlap {
  position: relative;
  width: 1920px;
  height: 62px;
}

.element-light .background-2 {
  position: absolute;
  width: 960px;
  height: 62px;
  top: 0;
  left: 0;
  background-color: #111111;
}

.element-light .background-3 {
  position: absolute;
  width: 960px;
  height: 62px;
  top: 0;
  left: 960px;
  background-color: #f6f5ef;
}

.element-light .background-4 {
  display: flex;
  width: 1280px;
  height: 62px;
  align-items: flex-start;
  gap: 91px;
  padding: 13px 112.5px 13px 89px;
  position: absolute;
  top: 0;
  left: 320px;
  background-image: url(./img/background.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .descriptions {
  position: relative;
  width: 494px;
  height: 33px;
}

.element-light .term {
  position: absolute;
  width: 65px;
  height: 17px;
  top: 10px;
  left: 0;
  background-image: url(./img/term.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .details-list-item {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 24px;
  align-items: flex-start;
  padding: 0px 219.83px 0px 15px;
  position: absolute;
  top: 9px;
  left: 65px;
}

.element-light .p {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .image {
  position: relative;
  width: 36px;
  height: 36px;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .link-2 {
  position: relative;
  width: 366.5px;
  height: 36px;
}

.element-light .image-2 {
  position: absolute;
  width: 129px;
  height: 17px;
  top: 9px;
  left: 0;
  background-image: url(./img/image-9.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .view-3 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 199px;
  background-image: url(./img/image-14.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 40px;
  flex: 0 0 auto;
  background-color: #1e3932;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow-y: scroll;
}

.element-light .container-wrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .container-2 {
  position: relative;
  max-width: 1080px;
  width: 1080px;
  height: 170.17px;
}

.element-light .starbucks-rewards {
  position: absolute;
  width: 176px;
  height: 153px;
  top: 0;
  left: 40px;
  background-image: url(./img/starbucks-rewards.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .horizontal-border-2 {
  display: flex;
  flex-direction: column;
  width: 794px;
  align-items: flex-start;
  gap: 11.4px;
  padding: 0px 0px 13.19px;
  position: absolute;
  top: 0;
  left: 256px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #4b615b;
}

.element-light .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .div-2 {
  align-self: stretch;
  font-size: 25.1px;
  letter-spacing: 0.50px;
  line-height: 36.4px;
  position: relative;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
}

.element-light .span {
  letter-spacing: 0.13px;
}

.element-light .text-wrapper-2 {
  font-family: "Droid Sans-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.13px;
}

.element-light .strong {
  position: relative;
  width: fit-content;
  font-family: "Droid Sans-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16.5px;
  letter-spacing: 0.50px;
  line-height: 23.8px;
}

.element-light .text-wrapper-3 {
  font-weight: 700;
  letter-spacing: 0.08px;
}

.element-light .text-wrapper-4 {
  font-family: "Droid Sans-Regular", Helvetica;
  letter-spacing: 0.08px;
}

.element-light .link-3 {
  display: inline-flex;
  align-items: flex-start;
  padding: 2px 23.4px 0px;
  position: absolute;
  top: 50px;
  left: 600px;
  background-color: #00704a;
  border-radius: 5px;
  border: 2px solid;
}

.element-light .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.7px;
  letter-spacing: 0.50px;
  line-height: 36px;
  white-space: nowrap;
}

.element-light .link-4 {
  display: inline-flex;
  align-items: flex-start;
  padding: 2px 23.4px 0px;
  position: absolute;
  top: 50px;
  left: 708px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ffffff;
}

.element-light .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.8px;
  letter-spacing: 0.50px;
  line-height: 36px;
  white-space: nowrap;
}

.element-light .overlap-group-2 {
  position: absolute;
  width: 549px;
  height: 40px;
  top: 129px;
  left: 256px;
}

.element-light .text-wrapper-7 {
  position: absolute;
  width: 222px;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.7px;
  letter-spacing: 0.50px;
  line-height: 19.6px;
  white-space: nowrap;
}

.element-light .strong-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 1px;
  left: 221px;
}

.element-light .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 13.3px;
  letter-spacing: 0.50px;
  line-height: 19.6px;
  white-space: nowrap;
}

.element-light .text-wrapper-9 {
  position: absolute;
  width: 549px;
  height: 20px;
  top: 20px;
  left: 0;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.5px;
  letter-spacing: 0.50px;
  line-height: 19.6px;
  white-space: nowrap;
}

.element-light .border {
  display: flex;
  flex-direction: column;
  width: 193px;
  height: 38px;
  align-items: flex-start;
  justify-content: center;
  padding: 2px 2px 0px;
  position: absolute;
  top: 131px;
  left: 857px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ffffff;
}

.element-light .link-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element-light .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.5px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 36px;
}

.element-light .section-2 {
  display: flex;
  flex-direction: column;
  height: 578px;
  align-items: center;
  justify-content: center;
  background-image: url(./img/section-3.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow-y: scroll;
}

.element-light .section-2::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .container-3 {
  position: relative;
  flex: 1;
  max-width: 1400px;
  width: 1400px;
  flex-grow: 1;
}

.element-light .element {
  position: absolute;
  width: 282px;
  height: 433px;
  top: 101px;
  left: 413px;
  background-image: url(./img/25-0g.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .element-g {
  position: absolute;
  width: 521px;
  height: 117px;
  top: 194px;
  left: 698px;
  background-image: url(./img/25-0g-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .link-6 {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 38px;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: 352px;
  left: 698px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ffffff;
}

.element-light .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 34px;
  white-space: nowrap;
}

.element-light .overlap-wrapper {
  height: 400px;
  overflow: hidden;
  background-image: url(./img/section-2.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow-y: scroll;
}

.element-light .overlap-wrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .overlap-2 {
  position: relative;
  width: 2000px;
  height: 400px;
  left: -42px;
  background-image: url(./img/COSTA-RICA.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .COSTA-RICA-TICA {
  position: absolute;
  width: 497px;
  height: 186px;
  top: 73px;
  left: 532px;
  background-image: url(./img/COSTA-RICA-TICA-LINDA.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .link-7 {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 40px;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: 289px;
  left: 768px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ba6e36;
}

.element-light .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ba6e36;
  font-size: 13.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-light .section-3 {
  height: 800px;
  background: linear-gradient(
    0deg,
    rgba(69, 67, 76, 1) 0%,
    rgba(69, 67, 76, 1) 100%
  );
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow-y: scroll;
}

.element-light .section-3::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .image-3 {
  position: absolute;
  width: 258px;
  height: 204px;
  top: 170px;
  left: 520px;
  background-image: url(./img/image-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .image-4 {
  position: absolute;
  width: 362px;
  height: 156px;
  top: 420px;
  left: 420px;
  background-image: url(./img/image-10.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .img {
  position: absolute;
  width: 944px;
  height: 608px;
  top: 95px;
  left: 851px;
}

.element-light .link-8 {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 38px;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: 600px;
  left: 648px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ffffff;
}

.element-light .overlap-group-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  background-image: url(./img/section.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .overlap-group-wrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .overlap-3 {
  position: relative;
  width: 908px;
  height: 374px;
  left: 535px;
}

.element-light .overlap-4 {
  position: absolute;
  width: 908px;
  height: 374px;
  top: 0;
  left: 0;
}

.element-light .reserve-visual-pc {
  position: absolute;
  width: 348px;
  height: 374px;
  top: 0;
  left: 560px;
  background-image: url(./img/reserve-visual-pc-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .div-3 {
  position: absolute;
  width: 588px;
  height: 96px;
  top: 135px;
  left: 0;
  background-image: url(./img/image-11.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .link-9 {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 38px;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: 264px;
  left: 216px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #000000;
}

.element-light .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 34px;
  white-space: nowrap;
}

.element-light .section-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  background-image: url(./img/section-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .section-4::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .overlap-5 {
  position: relative;
  width: 1090px;
  height: 460px;
  top: -60px;
  left: 480px;
}

.element-light .overlap-6 {
  position: absolute;
  width: 958px;
  height: 437px;
  top: 0;
  left: 0;
}

.element-light .overlap-7 {
  position: absolute;
  width: 703px;
  height: 437px;
  top: 0;
  left: 0;
}

.element-light .image-5 {
  position: absolute;
  width: 366px;
  height: 312px;
  top: 60px;
  left: 0;
}

.element-light .image-6 {
  position: absolute;
  width: 343px;
  height: 142px;
  top: 0;
  left: 360px;
}

.element-light .image-7 {
  position: absolute;
  width: 228px;
  height: 228px;
  top: 209px;
  left: 230px;
}

.element-light .image-8 {
  position: absolute;
  width: 374px;
  height: 54px;
  top: 160px;
  left: 584px;
  background-image: url(./img/image-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .image-9 {
  position: absolute;
  width: 366px;
  height: 92px;
  top: 228px;
  left: 586px;
  background-image: url(./img/image-12.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .link-wrapper {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 38px;
  align-items: flex-start;
  justify-content: center;
  padding: 2px;
  position: absolute;
  top: 350px;
  left: 587px;
  border-radius: 3px;
  border: 2px solid;
  border-color: #222222;
}

.element-light .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 15.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 34px;
}

.element-light .image-10 {
  position: absolute;
  width: 230px;
  height: 102px;
  top: 358px;
  left: 860px;
}

.element-light .footer {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 625px;
  background-color: #2c2a29;
  overflow-y: scroll;
}

.element-light .footer::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .background-5 {
  display: flex;
  width: 1114px;
  align-items: flex-start;
  gap: 3.6px;
  padding: 0px 0px 30px;
  position: absolute;
  top: 32px;
  left: 369px;
  background-image: url(./img/background-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .list {
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: flex-start;
  position: relative;
}

.element-light .item-link {
  width: 69.75px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.element-light .item-link-2 {
  display: flex;
  flex-direction: column;
  width: 56.22px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-light .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-link-3 {
  width: 66.92px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.08px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-link-4 {
  width: 64.23px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.77px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-link-5 {
  width: 77.63px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .item-link-6 {
  width: 136.67px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .item-link-7 {
  width: 107.09px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .item-link-8 {
  width: 93.7px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.30px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-link-9 {
  width: 98.28px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .item-link-10 {
  width: 69.61px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.39px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-link-11 {
  width: 101.72px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .item-link-12 {
  width: 142.34px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .item-link-13 {
  width: 42.83px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.17px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-link-14 {
  width: 32.13px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-22 {
  width: fit-content;
  margin-right: -0.87px;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  position: relative;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
}

.element-light .item-link-15 {
  width: 53.53px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.47px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-link-16 {
  width: 62.23px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .item-link-17 {
  width: 45.52px;
  align-items: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.48px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .list-wrapper {
  position: absolute;
  width: 1920px;
  height: 100px;
  top: 310px;
  left: 0;
  background-color: #282828;
}

.element-light .list-2 {
  width: 1182px;
  padding: 0px 1px 0px 0px;
  position: relative;
  top: 20px;
  left: 369px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.element-light .element-wrapper {
  width: 141px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .element-2 {
  position: relative;
  max-width: 141px;
  width: 141px;
  height: 40px;
  background-image: url(./img/2020-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .item-link-18 {
  width: 140px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .element-3 {
  max-width: 140px;
  width: 140px;
  background-image: url(./img/2020-4.png);
  position: relative;
  height: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .item-link-19 {
  width: 163px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .element-4 {
  max-width: 163px;
  width: 163px;
  background-image: url(./img/2020-3.png);
  position: relative;
  height: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .item-link-20 {
  width: 228px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .element-5 {
  max-width: 228px;
  width: 228px;
  background-image: url(./img/2020.png);
  position: relative;
  height: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .element-6 {
  max-width: 228px;
  width: 228px;
  background-image: url(./img/2020-2.png);
  position: relative;
  height: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .item-link-21 {
  width: 170px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .element-7 {
  max-width: 170px;
  width: 170px;
  background-image: url(./img/2020-6.png);
  position: relative;
  height: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .CCM-wrapper {
  width: 111px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .CCM {
  position: relative;
  max-width: 111px;
  width: 111px;
  height: 40px;
  background-image: url(./img/CCM.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .aside {
  position: absolute;
  width: 1920px;
  height: 180px;
  top: 410px;
  left: 0;
}

.element-light .link-10 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 368px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Bold", Helvetica;
  font-weight: 700;
  color: #00b050;
  font-size: 11.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.element-light .link-11 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 477px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .text-wrapper-26 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #cccccc;
  font-size: 11.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.element-light .link-12 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 656px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .link-13 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 768px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Bold", Helvetica;
  font-weight: 700;
  color: #00b050;
  font-size: 11.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.element-light .link-14 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 880px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .link-15 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 1016px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .link-16 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 1187px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .link-17 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 11px 0px 10px;
  position: absolute;
  top: 30px;
  left: 1288px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #393939;
}

.element-light .text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #cccccc;
  font-size: 11.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.element-light .link-18 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 10px;
  position: absolute;
  top: 30px;
  left: 1455px;
}

.element-light .link-19 {
  display: flex;
  width: 91px;
  align-items: flex-start;
  justify-content: center;
  padding: 2px 12px;
  position: absolute;
  top: 58px;
  left: 782px;
  border-radius: 3px;
  border: 2px solid;
  border-color: #ffffff;
}

.element-light .text-wrapper-29 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-light .link-20 {
  display: flex;
  width: 88px;
  align-items: flex-start;
  justify-content: center;
  padding: 2px 12px;
  position: absolute;
  top: 58px;
  left: 904px;
  border-radius: 3px;
  border: 2px solid;
  border-color: #ffffff;
}

.element-light .text-wrapper-30 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  margin-left: -0.28px;
  margin-right: -0.28px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-light .link-21 {
  display: flex;
  width: 70px;
  align-items: flex-start;
  justify-content: center;
  padding: 2px 12px;
  position: absolute;
  top: 58px;
  left: 1025px;
  border-radius: 3px;
  border: 2px solid;
  border-color: #ffffff;
}

.element-light .text-wrapper-31 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  margin-left: -0.14px;
  margin-right: -0.14px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-light .list-3 {
  width: 669px;
  gap: 16.7px;
  padding: 26px 0px 6px;
  position: absolute;
  top: 92px;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.element-light .text-wrapper-32 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 15.6px;
  white-space: nowrap;
}

.element-light .item {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 11.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 15.6px;
  white-space: nowrap;
}

.element-light .text-wrapper-33 {
  position: absolute;
  width: 306px;
  height: 40px;
  top: 139px;
  left: 807px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.element-light .link-22 {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: center;
  padding: 1px 0px 0px;
  position: fixed;
  top: -150px;
  left: 0;
  background-color: #000000;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #cccccc;
}

.element-light .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.element-light .text-wrapper-35 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.element-light .background-border {
  position: fixed;
  width: 1920px;
  height: 123px;
  top: 0;
  left: 0;
  background-color: #f6f5ef;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      0deg,
      rgba(229, 229, 229, 1) 0%,
      rgba(0, 0, 0, 1) 0%
    )
    1;
}

.element-light .nav {
  display: flex;
  flex-direction: column;
  width: 464px;
  height: 20px;
  align-items: flex-start;
  position: absolute;
  top: 17px;
  left: 953px;
  background-image: url(./img/nav.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .list-4 {
  gap: 1px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.element-light .item-link-22 {
  width: 76px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-36 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #555555;
  font-size: 12.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .item-link-23 {
  width: 107px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-37 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #555555;
  font-size: 12.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .customer-service-wrapper {
  width: 181px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .customer-service {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #555555;
  font-size: 12.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .item-link-24 {
  width: 97px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-38 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #555555;
  font-size: 12.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .background-border-2 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 11px;
  left: 1422px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #cccccc;
}

.element-light .view-wrapper {
  position: relative;
  height: 34px;
  top: 1px;
  left: -1px;
}

.element-light .view-4 {
  position: relative;
  width: 20px;
  height: 21px;
  top: 6px;
  left: 7px;
  background-image: url(./img/image-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .heading-link {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 24px;
  left: 410px;
  background-image: url(./img/heading-1-link.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .nav-list {
  display: flex;
  width: 895px;
  min-height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 56px;
  left: 615px;
}

.element-light .item-heading-link {
  display: flex;
  flex-direction: column;
  width: 89px;
  height: 30px;
  align-items: center;
  padding: 10px 0px 0px;
  position: relative;
}

.element-light .text-wrapper-39 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .item-heading-link-2 {
  width: 73px;
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  padding: 10px 0px 0px;
  position: relative;
}

.element-light .text-wrapper-40 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 12.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .item-heading-link-3 {
  width: 79px;
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  padding: 10px 0px 0px;
  position: relative;
}

.element-light .item-heading-link-4 {
  width: 153px;
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  padding: 10px 0px 0px;
  position: relative;
}

.element-light .item-heading-link-5 {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  padding: 10px 0px 0px;
  position: relative;
}

.element-light .item-heading-link-6 {
  width: 170px;
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  padding: 10px 0px 0px;
  position: relative;
}

.element-light .WHAT-s-NEW-wrapper {
  width: 131px;
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  padding: 10px 0px 0px;
  position: relative;
}

.element-light .container-4 {
  display: flex;
  flex-direction: column;
  width: 140px;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 154px;
  left: 1531px;
}

.element-light .element-SUMMER-e {
  position: relative;
  max-width: 140px;
  width: 100%;
  height: 96px;
  background-image: url(./img/2025-SUMMER-e-FREQUENCY.png);
  background-size: cover;
  background-position: 50% 50%;
}
